body{
    background-color: black;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 37%;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.post{
    position: absolute;
    background-color: white;
    width: 600px;
    height: 800px;
    margin: auto;
}
.header{
    width: auto;
    height: 70px;
}
.header img{
    margin-left: 15px;
    margin-top: 20px;
    position: absolute;
    width: 30px;
    height: 30px;
}
.text{ 
    margin-top: 14px;
    margin-left: 55px;
    position: absolute;
}
#bold{
    position: absolute;
    font-size:17px;
    font-weight: bold;
}
.header svg{
    position: absolute;
    margin-left: 560px;
    margin-top: 14px;
}
.bod img{
    margin-top: auto;
    position: absolute;
    width: 600px;
    height: 480px;
    margin: auto;
}

.icons{
    position: absolute;
    margin-top: 480px;
    height: 80px;
    width: 600px;
}
.heart{
   position: absolute;
   margin-top: 20px;
   margin-left: 20px;
}
.chat{
    position: absolute;
    margin-top: 20px;
    margin-left: 65px;
}
.send{
    position: absolute;
    margin-top: 20px;
    margin-left: 110px;
}
.label{
    position: absolute;
    margin-top: 20px;
    margin-left: 540px;
}
.comments{
    
    position: absolute;
    height: 170px;
    width: 600px;
    margin-top: 550px;
}
p{
    font-size: large;
    margin-left: 15px;
    margin-right: 15PX;
}